body{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

/* .middle{
  position: absolute;
  top: 50%;
  width: 100%;
  /* transform: translateX(-50%); */
} */

.counting-sec {
  padding: 40px 0;
  width: 100%;
  /* background: linear-gradient(90deg, #3c6382, #82ccdd); */
}

.num {
  font-size: 40px;
  margin: 20px 0;
}

#headerImage {
  background-image: url("assets/images/page-banner-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.padlr {
  padding-left: 5%;
  padding-right: 5%;
}

/* #freeversion {
  font-size: 50px; */
/* } */
/* #opcst {
  opacity: 70%;
} */

.float{
	position:fixed ;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:orangered;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.bottom-cover{
  background-image: url("assets/images/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: 'fontawesome'
}
